<?xml version="1.0"?>
<launch>
    <!--map integrator-->
    <node pkg="graph_slam" type="integrator" name="integrator" output="screen">
		<param name="cloud_path" type="string" value="/data/pcd/" />                           
		<param name="tf_name" type="string" value="/data/csv/" />
		<param name="map_name" type="string" value="/data/map/" />
		<param name="voxel_size" value="0.3" />
    </node>
</launch>
